/code/node_modules
/code/public/hot
/code/public/storage
/code/storage/*.key
/code/vendor
/code/composer.lock
/code/.idea
/code/.vagrant
/code/Homestead.json
/code/Homestead.yaml
/code/npm-debug.log
/code/yarn-error.log
/code/.env
/code/nbproject/private/
/nbproject/private/
/.vscode
/.php_cs.cache
/docker/.env